{% style %}
  .tabs-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

  .tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    list-style-type: none;
    padding: 0;
    overflow-x: hidden;
  }

  .tabs .tab-link {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    padding-block: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .tabs .tab-link.active {
    border-bottom: 2px solid black;
    font-weight: bold;
  }

  .tab-content {
    display: none;
    padding: 20px 0;
  }

  .tab-content.active {
    display: block;
  }

  .tab-content p {
    line-height: 1.6;
  }

  @media screen and (max-width: 768px) {
    .tabs-container {
      width: 100%;
    }

    .tabs {
      flex-direction: row;
      overflow-x: auto;
    }

    .tabs .tab-link {
      flex-grow: 1;
      padding: 10px 5px;
      font-size: 14px;
    }

    .tab-content {
      padding: 10px 0;
    }
  }
{% endstyle %}

<div {{ block.shopify_attributes }} class="tabs-container">
  <ul class="tabs">
    <li class="tab-link active" data-tab="whats-included">Whats Included</li>
    <li class="tab-link" data-tab="supplies">Supplies Needed</li>
    <li class="tab-link" data-tab="shipping-returns">Shipping & Returns</li>
  </ul>

  <div id="whats-included" class="accordion__content rte tab-content active">
    <p>{{ block.settings.whats_included_content }}</p>
  </div>

  <div id="supplies" class="accordion__content rte tab-content">
    <p>{{ block.settings.supplies_needed_content }}</p>
  </div>

  <div id="shipping-returns" class="accordion__content rte tab-content">
    <p>{{ block.settings.shipping_returns_content }}</p>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabLinks = document.querySelectorAll('.tab-link');
    const tabContents = document.querySelectorAll('.tab-content');

    tabLinks.forEach(function (tabLink) {
      tabLink.addEventListener('click', function () {
        const target = this.getAttribute('data-tab');

        // Remove active class from all tabs
        tabLinks.forEach((link) => link.classList.remove('active'));
        tabContents.forEach((content) => content.classList.remove('active'));

        // Add active class to clicked tab and corresponding content
        this.classList.add('active');
        document.getElementById(target).classList.add('active');
      });
    });
  });
</script>
