<div class="cst30pp">
  <div class="csxst25">
    <img src="https://cdn.shopify.com/s/files/1/0766/3448/9119/files/Layer_3.svg?v=1699083010">
    <h3>30 day return policy</h3>
    <p>With our 30 day return policy, you can get a refund</p>
  </div>

  <div class="csxst25">
    <img src="https://cdn.shopify.com/s/files/1/0766/3448/9119/files/Layer_2.svg?v=1699083009">
    <h3>Secure payments</h3>
    <p>Your security is our priority. All payments are 100% secure.</p>
  </div>

  <div class="csxst25">
    <img src="https://cdn.shopify.com/s/files/1/0766/3448/9119/files/Layer_3_1.svg?v=1699083009">
    <h3>Customer service</h3>
    <p>From Monday to Saturday from 8am to 5pm</p>
  </div>
</div>

{% schema %}
 {
    "name": "above footer",
    "class": "abvfter",

    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading"
    },
{
      "type": "text",
      "id": "vtb",
      "label": "Visit the blog"
    },
{
      "type": "url",
      "id": "vabu",
      "label": "View All blog url"
    },
{
        "id": "blogqq",
        "type": "blog",
        "label": "Blog"
      }
],
 "presets":[
      {
         "name":"above footer",
         "category":"text"

      }
   ]

  }
{% endschema %}
